doctype html
html
  head
    title= title
    script(src='http://code.jquery.com/jquery-1.11.1.min.js')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(type='text/javascript' src='/javascripts/scripts.js')
    != LRScript
      
  body
    div.main-wrapper
      header.main-header
        a.page-logo(href='/')
          img(src="/images/assets/wbm_white.png")
        #search
          form(method="post" enctype="multipart/form-data" action="/search")
            #scrollable-dropdown-menu
              input(class='typeahead' type='text' value='search' name='query' onclick="if (this.defaultValue==this.value) this.value=''")
            input(type='submit' value='ok')
      
      section.main-content
        block content
      
      footer.main-footer
        div.main-footer-logos
          span.logos-text Partnerzy i <br/> przyjaciele:
        div.main-footer-links
          a(href='regulamin') Regulamin
          a(href='autorzy') Autorzy
          a(href='kdp_lodz') KdP Łódź
          a(href='faq') FAQ
          a(href='Kontakt') Kontakt
