doctype html
html
  head
    title= title
    script(src='http://code.jquery.com/jquery-1.11.1.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/typeahead.bundle.js')
    script(type='text/javascript' src='/javascripts/typeahead.bundle.min.js')
    script(type='text/javascript' src='/javascripts/typeahead.jquery.js')
    script(type='text/javascript' src='/javascripts/bloodhound.js')
    script(type='text/javascript').
      $(document).ready(function(){
        var suggestions = new Bloodhound({
          datumTokenizer: function(data) {
            return Bloodhound.tokenizers.obj.whitespace(d.val)
          },
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          remote: {
            url: 'http://localhost:8080/query?query=%QUERY'
            //filter: function(parsedResponse) {
            //  parsedResponse.map(function(record){
            //    return { value: record };
            //  });
            //}
          }
        });
        suggestions.initialize();
        $('.typeahead').typeahead({
          minLength: 3
        }, 
        {
          displayKey: 'value',
          source: suggestions.ttAdapter()
        })
      });
  body
    header
      #title
        h1 Budżet Miasta Łodzi
      #search
        form(method="post" enctype="multipart/form-data" action="/search")
          #scrollable-dropdown-menu
            input(class='typeahead' type='text' value='search' name='query' onclick="if (this.defaultValue==this.value) this.value=''")
          input(type='submit' value='ok')
    #content
      block content
    footer
      #footer-container
        div()
          div(): a(href='regulamin') Regulamin
          div(): a(href='autorzy') Autorzy
          div(): a(href='kdp_lodz') KdP Łódź
          div(): a(href='faq') FAQ
          div(): a(href='Kontakt') Kontakt
