doctype html
html
  head
    title= title
    script(src='http://code.jquery.com/jquery-1.11.1.min.js')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(type='text/javascript' src='/javascripts/scripts.js')
    != LRScript
      
  body
    div.main-wrapper
      header.main-header
        a.page-logo(href='/')
          img(src="/images/assets/wbm_white.png")
        ul.main-header-nav
          li.main-header-nav--item(): a(href='/') Strona główna
          li.main-header-nav--item(): a(href='/budzet') Budżet miasta
          li.main-header-nav--item(): a(href='/o_projekcie') O projekcie
      
      block content
      
      footer.main-footer
        div.main-footer-partners
          span.partners-text Partnerzy i <br/> przyjaciele:
          ul.partners-list
            li: a(href="/"): img.svg(src="/images/partners/kdp.svg")
            li: a(href="/"): img.svg(src="/images/partners/fep.svg")
            li: a(href="/"): img(src="/images/partners/chomonto.png")
            li: a(href="/"): img(src="/images/partners/inspro.png")
            li: a(href="/"): img(src="images/partners/prowly.png")
            
        ul.main-footer-links
          li(): a(href='regulamin') Regulamin
          li(): a(href='autorzy') Autorzy
          li(): a(href='kdp_lodz') KdP Łódź
          li(): a(href='faq') FAQ
          li(): a(href='Kontakt') Kontakt
