* {
	padding: 0;
	margin: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
	border-bottom: black solid 1px;
	height: 50px;
	width: 100%;
}

#title {
	padding: 10px;
	letter-spacing: .3em;
	float: left;
	margin-left: 10px;
}

#search {
	width: 350px;
	font-size: 1.6em;
	font-weight: bold;
	padding: 10px;
	float: right;
}

#search input[type=text]{
	width: 300px;
	text-indent: 5px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1em;
	border-radius: 3px;
	border: 1px solid;
	letter-spacing: .025em;
	float: left;
}

#search input[type=submit]{
	width: 40px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1em;
	border-radius: 3px;
	float: right;
}

#content {
	padding: 10px;
	margin: 0 auto;
	margin-left: 10px;
}

#content ol{
	-webkit-padding-start: 2em;
}

#scrollable-dropdown-menu {
	width: 300px;
	display: inline;
}

footer {
	margin: 0 auto;
	width: 100%;
	display: block;
	position: absolute;
	bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: black solid 1px;
}

#footer-container {
}

footer div {
	display: inline;
	padding: 20px;
	text-align: center;
}



.typeahead,
.tt-query,
.tt-hint,
.tt-dropdown-menu {
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

.typeahead:focus {
  border: 2px solid #0052a4;
}

.tt-suggestion {
  font-size: 1em;
  font-weight: normal;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0052a4;
}