@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&subset=latin-ext);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700,200&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,600,700,200&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&subset=latin-ext);
/*  CSS reset
  http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/*  End of CSS reset */
/* Custom styles for Wizualizacja Budzetu */
html, body {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 60px;
}

.main-header {
  padding-top: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 75%;
  z-index: 3;
}

.main-header .page-logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.main-header .page-logo img {
  max-height: 50px;
}

.main-header-nav {
  padding-left: 85px;
}

.main-header-nav--item {
  height: 3em;
}

.main-header-nav--item a {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.6em;
  color: white;
  line-height: 1.6em;
  cursor: pointer;
}

.main-header-nav--item a:hover, .main-header-nav--item a:active, .main-header-nav--item a:focus, .main-header-nav--item a.active {
  border-bottom: 1px solid white;
}

.main-header-nav--item a.active::before {
  content: '>';
  font-size: 1.15em;
  display: inline-block;
  position: absolute;
  left: -0.9em;
}

@media screen and (max-height: 850px) {
  .main-header {
    padding-top: 10px;
  }
  .main-header-nav {
    padding-left: 125px;
  }
}

.main-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  padding: 0 15px 0 15px;
  color: #8d8d8d;
  font-size: 1.1em;
  font-weight: 600;
}

.main-footer::after {
  content: ' ';
  clear: both;
  display: table;
}

.main-footer-partners {
  float: left;
  height: 100%;
}

.main-footer .partners-text {
  display: inline-block;
  height: 32px;
  margin-right: 30px;
  margin-left: 25px;
  margin-top: 14px;
}

.main-footer .partners-list {
  display: inline-block;
  vertical-align: top;
}

.main-footer .partners-list a {
  cursor: pointer;
}

.main-footer .partners-list li {
  line-height: 60px;
  display: inline-block;
  margin-right: 25px;
}

.main-footer .partners-list img {
  max-height: 48px;
  vertical-align: middle;
}

.main-footer .partners-list img.svg {
  max-height: 30px;
}

.main-footer-links {
  float: right;
  height: 100%;
  padding-right: 80px;
}

.main-footer-links li {
  display: inline-block;
}

.main-footer-links a {
  position: relative;
  text-decoration: none;
  line-height: 60px;
  margin-left: 35px;
  padding-bottom: 2px;
  display: inline-block;
}

.main-footer-links a::after {
  content: ' ';
  display: block;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  background: #8d8d8d;
  transition: width 200ms ease-out, left 200ms ease-out;
}

.main-footer-links a:visited, .main-footer-links a:focus, .main-footer-links a:active {
  color: #8d8d8d;
}

.main-footer-links a:hover {
  cursor: pointer;
  color: #6e6e6e;
}

.main-footer-links a:hover::after {
  width: 80%;
  left: 10%;
  background: #6e6e6e;
}

.main-footer-links a.active, .main-footer-links a.active:hover {
  color: #6e6e6e;
}

.main-footer-links a.active::after, .main-footer-links a.active:hover::after {
  width: 100%;
  left: 0;
  background: #6e6e6e;
}

@media screen and (max-height: 850px) {
  .main-footer {
    font-size: 1.35em;
  }
  .main-footer .partners-text {
    margin-right: 25px;
  }
  .main-footer .partners-list img {
    max-height: 40px;
  }
  .main-footer .partners-list img.svg {
    max-height: 24px;
  }
  .main-footer .partners-list li {
    margin-right: 20px;
  }
}

.main-wrapper {
  height: 100%;
  background-color: #FAB300;
  position: relative;
  color: white;
  background-image: url("/images/assets/plac.png");
  background-position: center bottom;
  background-size: auto 85%;
  background-repeat: repeat-x;
  overflow-x: hidden;
  font-size: 0.85em;
}

.main-content {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
}

.main-content::before {
  content: ' ';
  height: 100%;
  background-image: url("/images/assets/kosciuszko_faded.png");
  background-position: center bottom;
  background-size: auto 60%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: -9%;
}

.main-content--kosciuszko {
  height: 100%;
  background-image: url("/images/assets/kosciuszko.png");
  background-position: center bottom;
  background-size: auto 70%;
  background-repeat: repeat-x;
  position: absolute;
  left: 0;
  right: -9%;
  z-index: 0;
}

.main-content--aside {
  position: absolute;
  left: 0;
  width: 310px;
  top: 27%;
  padding-left: 85px;
  z-index: 1;
}

.main-content--aside h1 {
  font-size: 2.8em;
  font-weight: 600;
  margin: 22px 0;
}

.main-content--aside p {
  font-size: 1.1em;
  text-align: justify;
  font-weight: 300;
  letter-spacing: 1px;
}

.main-content--aside-footer {
  margin-top: 35px;
}

.main-content--aside-footer h3 {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 125%;
  margin-bottom: 12px;
}

.main-content--aside-footer h3 strong {
  font-size: 1.15em;
  font-weight: 600;
}

.main-content--aside-footer button {
  background: #E8490F;
  height: 32px;
  border: none;
  color: white;
  font-weight: 600;
  width: 140px;
  cursor: pointer;
  border: 0;
  border-bottom: 2px solid #b83a0c;
  -webkit-box-shadow: inset 0 -2px #b83a0c;
  box-shadow: inset 0 -2px #b83a0c;
}

.main-content--aside-footer button:hover {
  background: #da440e;
}

.main-content--aside-footer button::after {
  content: '>>';
  margin-left: 5px;
}

.main-content--lines {
  position: relative;
  left: 50%;
  margin-top: -70px;
  top: 30%;
}

@media screen and (max-height: 850px) {
  .main-wrapper {
    font-size: 0.70em;
  }
  .main-content--aside {
    top: 25%;
    padding-left: 5%;
    width: 30%;
  }
  .main-content--aside-footer {
    margin-top: 25px;
  }
}

/*# sourceMappingURL=../maps/styles.css.map */
