extends ../layout

block content
  //- section.main-content
  aside.main-content--aside
    h1 Budżet miasta Łodzi
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    
    section.main-content--aside-footer
      h3(): <strong>Zobacz,</strong></br>jak wydawane są pieniądze Łodzian
      button Przejdź dalej
      
  div.monument
    ul.monument--lines
      li.monument--line-1
        a First line
        //- img(src="/images/assets/dashedLine.svg")
      li.monument--line-2
        a Second line
        //- img(src="/images/assets/dashedLine.svg")
      li.monument--line-3
        a Third line
        //- img(src="/images/assets/dashedLine.svg")
      li.monument--line-4
        a Fourth line
        //- img(src="/images/assets/dashedLine.svg")
      li.monument--line-5
        a Fifth line
        //- img(src="/images/assets/dashedLine.svg")
      li.monument--line-6
        a Sixth line
        //- img(src="/images/assets/dashedLine.svg")

  //Old file forms
  //- form(method="post" enctype="multipart/form-data" action="/chart")
  //-   #username
  //-     | dział
  //-     input(type='text' name='first' id='first')
  //-   #password  
  //-     | rozdział
  //-     input(type='text' name='second' id='second')
  //-   input(type='submit' value='Pokaż wykres')
