$bodyPadding: 15px
$footerHeight: 60px
$baseFontColor: white
$baseBackgroundColor: #FAB300
$footerFontColor: lighten(#808080, 5%)

=footer-font()
  font-family: serif
  color: $footerFontColor
  font-size: 1em
  font-weight: bold
