$bodyPadding: 15px
$footerHeight: 60px

$navPaddingLeft: 85px
$navPaddingLeft-adjust: 40px
$navPaddingLeft-heightAdjusted: $navPaddingLeft + $navPaddingLeft-adjust

//Colors
$baseFontColor: white
$baseBackgroundColor: #FAB300
$footerFontColor: lighten(#808080, 5%)
$kosciuszkoRedColor: #E8490F

//Mixins
=footer-font()
  color: $footerFontColor
  font-size: 1.1em
  font-weight: 600
